main {
    background: #fff;
    padding: 10px;
}
main .weather {
    background: #e9f6ff;
    padding: 20px; margin-bottom: 10px;
}
main .weather h2 {
    color: #000030; margin-bottom: 20px;
    font-weight: 700; font-size: 1.25rem;
}
main .weather .category {
    display: flex;
    justify-content: space-between;
}
main .weather .category a {
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
main .weather .category a img {
    margin-bottom: 10px;
}
main .weather .category a span {
    font-weight: 500;
}
main .situation {
    background: #e9f6ff;
    padding: 20px;
}
main .situation h2 {
    color: #000030; margin-bottom: 20px;
    font-weight: 700; font-size: 1.25rem;
}
main .situation .category {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
}
main .situation .category a {
    width: calc(100% / 3); margin-bottom: 20px;
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
main .situation .category a img {
    margin-bottom: 10px;
}
main .situation .category a span {
    font-weight: 500;
}